<div th:fragment="navbar">

	<nav class="navbar">
		<ul class="nav-menu">
			<li><a href="javascript:void(0)" onclick="navigate('home')">HOME</a></li>
			<li class="divider">|</li>

			<li><a href="javascript:void(0)" onclick="navigate('baptism')">BAPTISM</a></li>
			<li class="divider">|</li>

			<li><a href="javascript:void(0)" onclick="navigate('wedding')">WEDDING</a></li>
			<li class="divider">|</li>

			<li><a href="javascript:void(0)" onclick="navigate('confirmation')">CONFIRMATION</a></li>
			<li class="divider">|</li>

			<li><a href="javascript:void(0)" onclick="navigate('home')">FUNERAL</a></li>
			<li class="divider">|</li>

			<li><a class="logout" th:href="@{/logout}">LOGOUT</a></li>
		</ul>
	</nav>

</div>
